.song-item{
    background-color: whitesmoke;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid rgb(0, 145, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
    cursor: pointer;
    a{
        text-decoration: none;
    }
    .add-to-playlist{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        .playlists{
            display: flex;
            flex-direction: column;
            grid-gap: 10px;
            overflow-x: auto;
            max-height: 60%;
        }
    }
}