.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(54, 54, 54);
    padding: 10px 0;
    color: white;
    position: sticky;
    height: 60px;   
    top: 0;
    .nav{
        display: flex;
        grid-gap: 2vw;
        align-items: center;
        a{
            color: white;
        }
    }
    .fa-bars, .fa-times{
        display: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 500px) {
    .header{
        z-index: 2;
        .visible{
            display: flex !important;
        }
        .nav{
            display: none;
            padding: 0;
            position: fixed;
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            background-color: rgb(2, 2, 2);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-gap: 5vh;
            z-index: 24;
        }
        .fa-bars, .fa-times{
            display: block;
        }
    }
  }