.homeNav{
    width: 140px;
    padding: 20px;
    border-right: 2px solid black;
    height: 100vh;
    position: fixed;
    ul{
        li{
            margin: 10px 0;
        }
    }
}
@media screen and (max-width: 500px) {
    .homeNav{
        width: 100%;
        height: unset;
        position: static;
        margin-bottom: 20px;
        position: sticky;
        top: 60px;
        padding: 0;
        background-color: white;
        z-index: 1;
        border: none;
        ul{
            display: flex;
            list-style: none;
            justify-content: space-around;
        }
    }
}